<!DOCTYPE html>
<html>
  <head>
    <title>JCMusic Inbox</title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3e2723">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/johnnyPublic/johnnyStyles/johnny-styles.css">
  </head>
  <body class="black">
    <!-- Header navbar; Main site navigation -->
    <header>
      <nav class="brown darken-4">
        <div class="nav-wrapper container">
          <a href="/demo/johnny" class="brand-logo left hide-on-med-only">Go Home</a>
        </div>
      </nav>
    </header> <!-- end Nav -->
    <!-- Content down here -->
    <main>
      <div class="row">
        <div class="col s12 m2"></div>
        <div class="col s12 m8">
          <div id='messages' class='row'>
            <ul class='collapsible popout' data-collapsible='accordion'>
              <% messages.forEach(function(message){ %>
                <li id='<%= message._id %>'>
                  <div class='collapsible-header'>
                    <i class='material-icons'>list</i><%= message.author %>: "<span class="truncate"><%= message.subject %></span>"
                    <span class="margin-left">
                      <% var options = {timeZone: "America/New_York", weekday: "short", month: "short", day: "numeric", year: "numeric"} %>
                      <strong><em><%= message.date.toLocaleString("en-US", options) %></em></strong>
                    </span>
                  </div>
                  <div class='collapsible-body grey lighten-3'>
                    <p><strong>Email:</strong></p>
                    <p><%= message.email %></p>
                    <p><strong>Message:</strong></p>
                    <p class="pre-wrap"><%= message.message %></p>
                    <hr>
                    <div>
                      <a href='#delete-<%= message._id %>-form' class='modal-trigger btn-flat waves-effect waves-red'>Delete</a>
                    </div>
                  </div>
                  <!-- Modal Structure delete -->
                  <form id="delete-<%= message._id %>-form" class="modal" action="/demo/johnny/inbox/<%= message._id %>?_method=DELETE" method="POST">
                    <div class="modal-content">
                      <h2 class="red-text center-align">WARNING!</h2>
                      <hr>
                      <h5 class="center-align">You are about to delete "<%= message.subject %>" by <%= message.author %>.</h5>
                      <p class="center-align">This action is <strong>PERMANENT</strong> and cannot be undone! Are you sure you want to delete this message?</p>
                      <br>
                      <p class="center-align"><em>"<span><%= message.message %></span>"</em></p>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</button>
                      <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
                    </div>
                  </form> <!-- end Modal delete -->
                </li>
              <% }); %>
            </ul>
          </div>
          <ul class="pagination"></ul>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
      $(function(){
        $(".button-collapse").sideNav({
          menuWidth: 240,
          edge: "right",
          closeOnClick: true,
          draggable: true
        });
        $(".dropdown-button").dropdown();
        $('.modal').modal();
      });
    </script>

    <% include ../../../demos/johnny/views/johnnyPartials/jcFlash %>
  <body>
<html>
