<div class="audio-player">
  <main>
    <h5>
      "<span class="audio-label" name="title">Loading...</span>" by <span class="audio-label" name="artist">(Artist)</span>
    </h5>
    <span class="audio-label" name="time"></span>
    <div class="audio-progress" data-played-class="blue" data-show-time="true"></div>
    <table class="centered">
      <tbody>
        <tr>
          <td>
            <a class="audio-control orange-text" name="skip-previous"><i class="small material-icons">skip_previous</i></a>
          </td>
          <td>
            <a class="audio-control orange-text" name="play"><i class="small material-icons">play_arrow</i></a>
            <a class="audio-control orange-text" name="pause" style="display: none"><i class="small material-icons">pause</i></a>
            <a class="audio-control orange-text" name="replay" style="display: none"><i class="small material-icons">refresh</i></a>
          </td>
          <td>
            <a class="audio-control orange-text" name="skip-next"><i class="small material-icons">skip_next</i></a>
          </td>
          <td>
            <a href="#!" class="info-hide blue-text" data-target="playlist"><i class="material-icons">playlist</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <div id="playlist" style="display: none">
    <h4 class="center-align">Song Library</h4>
    <hr>
    <% if(songs){ %>
      <ul>
        <% songs.forEach(function(song, songIndex){ %>
          <li>
            <div class="valign-wrapper">
              <a class='audio-control' href='#!' name='select' for='<%= song.title %>'>
                <p class="valign-wrapper"><%= song.title %> - <em>by <%= song.artist %></em></p>
              </a>
              <div class="margin-left">
                <a href="#!" class="info-hide" data-target="song-<%= songIndex %>-info"><i class="material-icons">info</i></a>
              </div>
            </div>
            <div id="song-<%= songIndex %>-info" style="display: none">
              <p>Off of the album "<%= song.album %>", Produced by <%= song.producer %></p>
              <p>"<%= song.description %>"</p>
            </div>
            <audio src='/admin/audio/stream/<%= song.filename %>' preload="metadata" type="<%= song.contentType %>" data-title='<%= song.title %>' data-album="<%= song.album %>" data-artist="<%= song.artist %>" data-producer="<%= song.producer %>" data-duration="<%= song.duration %>"></audio>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No songs available.</p>
    <% } %>
  </div>
</div>
