<!DOCTYPE html>
<html>
  <head>
    <title>Message from <%= message.author %></title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#01579b">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/general-styles.css">

<% include ../../partials/headerClose %>
<% include ../../partials/admin/navbar-admin %>

    <!-- Content down here -->
    <main>
      <div class="row">
        <div class="col s12 l2">
          <div class="hide-on-med-and-down">
            <br>
            <a href="/admin/inbox" class="btn-flat blue-text waves-effect"><span class="valign-wrapper"><i class="material-icons">chevron_left</i> Inbox</span></a>
            <a href='#delete-<%= message._id %>-form' class='modal-trigger btn-flat red-text waves-effect waves-red'><span class="valign-wrapper"><i class="material-icons">delete_forever</i> Delete</span></a>
          </div>
        </div>
        <div class="col s12 l8">
          <h2><%= message.author %> says, "<%= message.subject %>"</h2>
          <h4>Email: <%= message.email %></h4>
          <p class="flow-text"><%= message.message %></p>
        </div>
        <div class="col s12 l2">
          <p>
            <% var options = {timeZone: "America/New_York", weekday: "long", month: "long", day: "numeric", year: "numeric"} %>
            <%= message.date.toLocaleString("en-US", options) %>
          </p>
          <hr>
          <div class="hide-on-large-only">
            <a href="/admin/inbox" class="btn-flat blue-text waves-effect"><span class="valign-wrapper"><i class="material-icons">chevron_left</i> Inbox</span></a>
            <a href='#delete-<%= message._id %>-form' class='modal-trigger btn-flat red-text waves-effect waves-red'><span class="valign-wrapper"><i class="material-icons">delete_forever</i> Delete</span></a>
          </div>
        </div>
      </div>
    </main>

    <% include ../../partials/jquery %>
    <% include ../../partials/flash %>
    <% include ../../partials/copyright %>

    <% include ../../partials/admin/inbox/deleteModal %>

    <script>
      $(function(){
        $(".button-collapse").sideNav({
          menuWidth: 240,
          edge: "right",
          closeOnClick: true,
          draggable: true
        });
        $(".dropdown-button").dropdown();
        $('.modal').modal();
      });
    </script>

  <body>
<html>
