<% include ../partials/headerOpen %>

<% include ../partials/headerClose %>
<% include ../partials/navbar-main %>

<main>
  <div class="row">
    <div class="col s12 l2">

    </div>
    <div class="col s12 l8">
      <!-- <h1>Latest Updates</h1>
      <hr> -->
      <div class="row">
      <% blogposts.forEach(function(blogpost, i){ %>
        <% if(i === 0){ %>
          <article class="col s12 hoverable">
            <a href="/blog/<%= blogpost._id %>">
              <div class="blog-card">
                <div class="row">
                  <h3 class="col s12 m4 deep-orange-text text-darken-3 hide-on-small-only recent-blog">Most Recent ECProject Post</h3>
                  <div class="col s12 m8">
                    <h3 class="grey-text text-darken-3"><%= blogpost.title %></h3>
                    <% var options = {timeZone: "America/New_York", weekday: "short", month: "short", day: "numeric", year: "numeric"}; %>
                    <span class="deep-orange-text text-darken-2"><%= blogpost.date.toLocaleString("en-US", options) %></span>
                    <p class="grey-text hide-on-med-and-up"><em>(Most Recent ECProject Post)</em></p>
                    <p class="grey-text text-darken-3">
                      <% var words = blogpost.content.split(" "); %>
                      <% var summary = words.length > 20 ? words.slice(0, 20).join(" ") + "..." : words.join(" "); %>
                      <%= summary %>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </article>
        <% } else { %>
          <article class="col s12 m6 hoverable">
          <a href="/blog/<%= blogpost._id %>">
            <div class="blog-card">
              <h3 class="grey-text text-darken-3"><%= blogpost.title %></h3>
              <% var options = {timeZone: "America/New_York", weekday: "short", month: "short", day: "numeric", year: "numeric"}; %>
              <span class="deep-orange-text text-darken-2"><%= blogpost.date.toLocaleString("en-US", options) %></span>
              <p class="grey-text text-darken-3">
                <% var words = blogpost.content.split(" "); %>
                <% var summary = words.length > 20 ? words.slice(0, 20).join(" ") + "..." : words.join(" "); %>
                <%= summary %>
              </p>
            </div>
          </a>
        </article>
        <% } %>
      <% }); %>
      </div>
    </div>
    <div class="col s12 l2">

    </div>
  </div>
</main>

<% include ../partials/copyright %>
<% include ../partials/jquery %>
<% include ../partials/flash %>
<% include ../partials/footer %>
