<form id="delete-<%= message._id %>-form" class="modal modal-fixed-footer" action="/admin/inbox/<%= message._id %>?_method=DELETE" method="POST">
  <div class="modal-content">
    <h2 class="red-text center-align">WARNING!</h2>
    <hr>
    <h5 class="center-align">You are about to delete "<%= message.subject %>" by <%= message.author %>.</h5>
    <p class="center-align">This action is <strong>PERMANENT</strong> and cannot be undone! Are you sure you want to delete this message?</p>
    <br>
    <p class="center-align"><em>"<span><%= message.message %></span>"</em></p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
  </div>
</form>
